<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF=8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<base href="/">
	
	<title>Game Gainz</title>

	<link rel="stylesheet" href="assets/libs/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/style.css">

	<script src="assets/uijs.js"></script>
	<script src="assets/libs/angular/angular.min.js"></script>
	<script src="assets/libs/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script src="assets/libs/jquery/dist/jquery.min.js"></script>
	<script src="assets/libs/bootstrap/js/dropdown.js"></script>
	<script src="assets/libs/bootstrap/js/transition.js"></script>
	<script src="assets/libs/bootstrap/js/collapse.js"></script>



	<script src="controllers/MainCtrl.js"></script>
	<script src="controllers/HomeCtrl.js"></script>
	<script src="controllers/GameCtrl.js"></script>
	<script src="controllers/GameDetailCtrl.js"></script>
	<script src="controllers/ProfileCtrl.js"></script>
	<script src="controllers/AdminCtrl.js"></script>
	<script src="services/TypesService.js"></script>
	<script src="services/GamesService.js"></script>
	<script src="services/UserService.js"></script>
	<script src="services/AdminService.js"></script>
	<script src="app.js"></script>


</head>
	<body ng-app="logic-games" ng-controller="MainCtrl">

	<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-menu">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#/home">GameGainz</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="collapse-menu">
	      <ul class="nav navbar-nav navbar-right">
	      	<p class="navbar-text">Signed in as </p>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{user.realname.first ? user.realname.first : user.local.email}} <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><a href="#/profile">Profile</a></li>
	            <li class="divider"></li>
	            <li><a href="/logout">Log out</a></li>
	          </ul>
	        </li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

	<div class="container">

		<div ui-view></div>

	</div>

</body>
</html>