<div class="container-fluid">
	<p><small><a href="#/type/{{game.gametype}}"><span class="glyphicon glyphicon-arrow-left"></span> {{typename}}</a></small></p>
	<h1>Game: {{game.identifier.gameno}}, Test: {{game.identifier.testno}}</h1>
	<p>{{game._id}}</p>
	<div>
		Goal time: {{game.goal.minutes}}:{{game.goal.seconds}}
	</div>

	<p>New Attempt:</p>
	<form ng-submit="addAttempt()">
		<div class="form-group">
			<label>Minutes</label>
			<input type="text" class="form-control" ng-model="newAttempt.attempt.minutes">
		</div>
		<div class="form-group">
			<label>Seconds</label>
			<input type="text" class="form-control" ng-model="newAttempt.attempt.seconds">
		</div>
		<button class="btn btn-warning btn-lg">Submit</button>
	</form>



	<table class="table table-hover table-condensed">
		<thead>
			<tr>
				<th>Attempt date</th>
				<th>Game time</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="attempt in attempts | filter: { game: game._id }">
				<td>{{attempt.attempt.time | attemptDate}}</td>
				<td>{{attempt.attempt.minutes}}:{{attempt.attempt.seconds}}</td>
				<td><button ng-click="delAttempt(attempt._id)">Delete</button></td>
			</tr>
		</tbody>
	</table>
</div>