<div class="container">
	<h1>Welcome, {{user.realname.first ? user.realname.first : user.local.email}}</h1>
	<div>
		<h3>Your info:</h3>
		<table class="table">
			<tr>
				<td>First Name</td>
				<td>{{user.realname.first}}</td>
			</tr>
			<tr>
				<td>Last Name</td>
				<td>{{user.realname.last}}</td>
			</tr>
			<tr>
				<td>Email</td>
				<td>{{user.local.email}}</td>
			</tr>
			<tr>
				<td>Password</td>
				<td>**********</td>
			</tr>
		</table>
	</div>
	<button class="btn btn-sm" onClick="toggleForm('edit-form')">Edit</button>
	<div id="edit-form" class="hide">
		<h4>Edit user info:</h4>
			<form ng-submit="updateUser()">
				<div class="form-group">
					<label>First name</label>
					<input type="text" class="form-control" ng-model="userUpdate.realname.first">
				</div>
				<div class="form-group">
					<label>Last name</label>
					<input type="text" class="form-control" ng-model="userUpdate.realname.last">
				</div>
				<br><button class="btn btn-sm" ng-click="toggleForm('edit-form')" type="submit">Save</button>
		</form>
	</div>
</div>