<div class="jumbotron text-center">
	<h1>Game Type: {{typename}}</h1>
	<p>Filter games by year: <input type="text" ng-model="filter.identifier.year"></p>
	<p>Filter games by test number: <input type="text" ng-model="filter.identifier.testno"></p>
	<table class="table">
		<thead>
			<tr>
				<td>Test Number</td>
				<td>Game Number</td>
				<td>Month, Year</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="game in games | filter:filter">
				<td>{{game.identifier.testno}}<p>{{game._id}}</p></td>
				<td><a href="#/game/{{game._id}}">{{game.identifier.gameno}}</a></td>
				<td>{{game.identifier.month}} {{game.identifier.year}}</td>
			</tr>
		</tbody>
	</table>
</div>